@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-3">
		<img src="~/img/Hamburger.jpg" alt="" class="form-control" />
	</div>

	<div class="col-md-3">
	</div>
</div>



<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">
			Küçük
		</label>
	</div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">
			Orta
		</label>
	</div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">
			Büyük
		</label>
	</div>
</div>



<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-3">
		<label class="form-control">MENÜ SEÇİN</label>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-3">
		<select class="form-control"></select>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-3">
		<label class="form-control">MALZEME SEÇİN</label>
	</div>
</div>


<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		<label class="form-check-label" for="flexCheckDefault">
			Ketçap
		</label>
	</div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		<label class="form-check-label" for="flexCheckDefault">
			Mayonez
		</label>
	</div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		<label class="form-check-label" for="flexCheckDefault">
			Ranch
		</label>
	</div>
</div>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		<label class="form-check-label" for="flexCheckDefault">
			Ketçap
		</label>
	</div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		<label class="form-check-label" for="flexCheckDefault">
			Mayonez
		</label>
	</div>
	<div class="col-md-1 form-check">
		<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		<label class="form-check-label" for="flexCheckDefault">
			Ranch
		</label>
	</div>
</div>