@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row">
    <div class="col-lg-3 col-6 text-white">

        <div class="small-box bg-info">
            <div class="inner">
                <h3>100</h3>
                <p>Toplam Ciro</p>
            </div>
            <div class="icon">
                <i class="fas fa-th-large"></i>
            </div>
            <a asp-controller="Categories" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6 text-white">

        <div class="small-box bg-success">
            <div class="inner">
                <h3>150<sup style="font-size: 20px"></sup></h3>
                <p>Toplam Sipariş</p>
            </div>
            <div class="icon">
                <i class="fas fa-file-alt"></i>
            </div>
            <a asp-controller="Posts" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">

        <div class="small-box bg-warning">
            <div class="inner">
                <h3>120</h3>
                <p>Ekstra Malzeme</p>
            </div>
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
            <a asp-controller="Posts" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6 text-white">

        <div class="small-box bg-danger">
            <div class="inner">
                <h3>250</h3>
                <p>Satılan Ürün Adedi</p>
            </div>
            <div class="icon">
                <i class="fas fa-comment"></i>
            </div>
            <a asp-controller="Posts" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>